{
    "domain" "openkim.org" 
    "description" "Checks that the tests template is valid." 
    "title" "TemplateCheck" 
    "extended-id" "TemplateCheck__VT_000000000003_000" 
    "disclaimer" ""
    "pipeline-api-version" "1.0"
    "kim-api-version" "1.5"
    "executables" ["runner"]
}
