{
    "description" "Attempts to compile a specific test to verify minimal functionality."
    "disclaimer" ''
    "domain" "openkim.org"
    "extended-id" "Build__TV_100000000000_000"
    "title" "Build verification check"
    "pipeline-api-version" "1.0"
    "kim-api-version" "1.6"
    "executables" ["runner"]
}
